@font-face {
  font-family: 'League Spartan';
  font-style: normal;
  font-weight: 700;
  src: url(/src/assets/font/LeagueSpartan-Bold.ttf) format('truetype');
}

$font: 'League Spartan', sans-serif;

